body {
  background-color:#EAF6F6 ;/* PowderBlue */
}

h1,h3 {
  color: #66BFBF;
}


hr {
  /* background-color: white; */
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  /* height: 2px; */
  width: 5%;
}
